## DataFrames

### Process Data with
- Columns
- Filters
- Mapping

In [ ]:
import pandas as pd
# Read the new csv file output3.csv
df = pd.read_csv('output3.csv')
display(df)

In [ ]:
# get specified rows
df[2:5]

In [ ]:
# get data in specified column
df['Name']

In [ ]:
# get specified columns
df[ ['Name', 'City'] ]

In [ ]:
# Filter by single condition
df[ df['Age'] > 30 ]

In [ ]:
# Filter by multiple conditions
df[
    (df['Age'] == 35) & 
    (df['Salary'] > 50000)
]

In [ ]:
df[
    (df['City'] != "Chicago") 
]

In [ ]:
# Filter by multiple conditions and select specific columns
df[
    (df['Age'] > 30) & 
    (df['Salary'] > 50000)
][['Name', 'City']]

In [ ]:
# Get unique values in a column
df['City'].unique()

In [ ]:
# Get the number of unique values in a column
df['City'].nunique()

In [ ]:
# 不同的值與出現的次數
df['City'].value_counts()

In [ ]:
# Add a new column
df['Pets'] = [1, 0, 2, 2, 0, 3]
display(df)

In [ ]:
# Add new colume by mapping
# Create a dictionary of people with license
DriveLicense = {
    'Frank': False,
    'Denny': True,
    'Alice': False,
    'Elly': False
}

# Add the 'Drive License' column by mapping the 'Name' column
df['Drive License'] = df['Name'].map(DriveLicense)
display(df)